body{
    background-image: url(./img/hand-drawn-design-heart-collection/4254391.jpg);
    text-align: center;
    background-attachment: fixed;
    background-position: center;2
    font-family: sans-serif;
}

.layout{
    display:grid;
    width: 80%;
    height:600px;
    margin: 0 auto;
    border: 3px solid black;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr) ;
    padding: 10px;
}

.layout .caja{

    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px;
    border: 2px solid rgb(79, 79, 79);

}

.layout .red{
    grid-column-start: 1;
    grid-column-end: 4;
    background: red;
}

.layout .blue{
    background: rgb(0, 125, 242);
    grid-column: 2 / 4;
}
.layout .green{
    grid-row: 2/4; 
    background: rgb(32, 161, 0);

}

.layout .pink{
    background: rgb(239, 97, 215);
    grid-column: 2/3;
}

.layout .orange{
    
    background: orange;
}

.layout .gray{
    
    grid-column: 1 / 4;
    background: gray;
}